.square {
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    margin: -1px -1px;
}

.wall {
    background-color: black;
}

.start {
    background-color: blue;
}

.end {
    background-color: purple;
}

.path {
    background-color: green;
}

.invalid {
    background-color: red;
}